<%include partials/header%>
<% if(typeof(error) === Object){
    for(i=0; i<errors.length; i++){ %>
        <div class="alert alert-danger container errorDiv">
            <h4><%= error[i].msg %></h4>
        </div>
    <%}
}
else{
    if(error !== ""){%>
        <div class="alert alert-danger container errorDiv">
            <h4><%=error%></h4>
        </div>
    <%}
}%>
<header id="header">
    <div class="header-top">
        <div class="container">
              <div class="row justify-content-center">
                  <div id="logo">
                    <a href="/"><img src="img/chefLogo.jpg" height="80" alt="" title="" /></a>
                  </div>
              </div>			  					
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-center d-flex">			
          <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <% if(loginID !== "" && loginID !== undefined){%>
                        <li><a href="/addRecipe">Add Recipe</a></li>
                        <li><a href="/myRecipe">My Recipes</a></li>
                    <%}%>
                    <li><a href="/">All Recipes</a></li>
                    <li><a href="#shareRecipeForm">Recommend Recipe</a></li>
                </ul>
        </nav><!-- #nav-menu-container -->					      		  
        </div>
    </div>
</header><!-- #header -->

<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h5 class="text-white">
                    (Add, Search and Share Recipes)				
                </h5>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->			

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-12">
                <!-- <div class="title text-center">
                    <h1 class="mb-10">*** Welcome to Recipe Hub ***</h1>
                    <p>We never fall short of recipes.</p>
                </div> -->
                <div class="jumbotron">
                    <center>
                        <div>
                            <h1>Welcome to Recipe Hub</h1>
                            <p>We never fall short of recipes.</p>
                            <br/>	
                            <p>
                                <%if(loginID !== "" && loginID !== undefined){%>
                                  <center><button class="btn btn-primary"><a href="/logout"> Logout </a></button></center>
                                <%}else{%> 
                                    <button class="btn btn-primary"><a href="/login"> Login </a></button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-success"><a href="/register"> Signup </a></button>
                                 <%}%>   
                            </p>
                        </div>
                    </center> 
                </div>
            </div>
        </div>
        <form method="POST" action="/recipe/addRecipe">
            <div class="form-group">
                <label>Recipe Name</label>
                <input type="text" class="form-control" name="recipeName" placeholder="Add Name">
            </div>
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" name="country" placeholder="Recipe Origin">
            </div>
            <div class="form-group">
                <label>Calories</label>
                <input type="number" class="form-control" name="calories" placeholder="Add Calories">
            </div>
            <div class="form-group">
                <label>Photo URL</label>
                <input type="text" class="form-control" name="photo" placeholder="Add a photo link">
            </div>
            <div class="form-group">
                <label>Ingredients:</label>
                <textarea class="form-control widgEditor" id="widgEditor" name="ingredients" placeholder="Add Ingredients" rows="7"></textarea>
            </div>
            <div class="form-group">
                <label>Instructions:</label>
                <textarea class="form-control widgEditor" name="instructions" placeholder="Add Instructions" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>	
    </div>
</section>
<!-- End menu-area Area -->						

<!-- start footer Area -->		
<footer class="footer-area">
    <div class="footer-widget-wrap">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Opening Hours</h4>
                        <ul class="hr-list">
                            <li class="d-flex justify-content-between">
                                <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Saturday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Sunday</span> <span>08.00 am - 10.00 pm</span>
                            </li>																				
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Contact Us</h4>
                        <p>
                            56/8, los angeles, rochy beach, Santa monica, United states of america - 1205
                        </p>
                        <p class="number">
                            012-6532-568-9746 <br>
                            012-6532-569-9748
                        </p>
                    </div>
                </div>						
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>You can trust us. we only send promo offers, not a single spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                              <form class="navbar-form" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="input-group add-on align-items-center d-flex">
                                      <input class="form-control" name="EMAIL" placeholder="Your Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>
                                  <div class="input-group-btn">
                                    <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                  </div>
                                </div>
                                  <div class="info mt-20"></div>
                              </form>
                        </div>
                    </div>
                </div>						
            </div>					
        </div>					
    </div>
    <div class="footer-bottom-wrap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>           
                </ul>
            </div>						
        </div>
    </div>
</footer>
<!-- End footer Area -->	

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>			
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 <script src="js/jquery-ui.js"></script>					
  <script src="js/easing.min.js"></script>			
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>	
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>						
<script src="js/jquery.nice-select.min.js"></script>					
<script src="js/owl.carousel.min.js"></script>			
<script src="js/isotope.pkgd.min.js"></script>								
<script src="js/mail-script.js"></script>	
<script src="js/main.js"></script>
<script src="js/client_side_functions.js"></script>
<%include partials/footer%>